body {
	font-family: "Noto Sans", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #eee;
	padding-left: min(3rem, 4%);
	padding-right: min(3rem, 4%);
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}

.col {
	flex: 1 0 0%;
}

.container {
	background-color: #eee;
	margin: 1rem;
	padding: 1rem;
}

.card {
	border: 1px solid #ccc;
	background-color: #ddd;
	border-radius: 1rem;
	padding: 1rem 2rem;
	margin: 1rem;
}

h1 {
	font-size: 1.2rem;
	color: #333;
}

p {
	font-size: 1rem;
	color: #222;
}

.warning-stripe {
	background: repeating-linear-gradient(
		45deg,
		#fc3,
		#fc3 1rem,
		#d33 1rem,
		#d33 2rem
	)
}

.centered {
	text-align: center;
	margin: 0 auto;
	justify-content: center;
}
